@import "tailwindcss";

@theme {
  --color-brand-dark: #1e2938;
  --color-brand-dark-strong: #0f172a;
  --color-neutral-primary: #334155;
  --color-neutral-secondary: #64748b;
  --color-neutral-tertiary: #cbd5e1;
  --color-neutral-quaternary: #f1f5f9;
}

